{% load humanize %}
<style>
    #uni_modal .modal-footer { display: none }
    /* Added to help the on-screen preview look more like a receipt */
    #outprint {
        font-family: 'Courier New', Courier, monospace;
        background-color: #fff;
    }
</style>

<div class="container-fluid">
    <div id="outprint">
        <div class="lh-1">
            <center><h4 class="fw-bold mb-0">{{ user.owned_stores.first.name }}</h4></center>
            <center><small class="fw-bold">Sales Receipt</small></center>
        </div>
        <hr>
        <div class="lh-1">
            <div>
                <span><strong>Date:</strong> {{ transaction.date_added|date:"M d, Y" }}</span><br>
                <span><strong>Ref:</strong> {{ transaction.code }}</span>
            </div>
        </div>
        <div class="py-2"></div>
        <div class="lh-1">
            <div class="d-flex w-100 align-items-end border-bottom pb-1">
                <div class="col-2 text-start fw-bold">Qty</div>
                <div class="col-6 text-start fw-bold">Product</div>
                <div class="col-4 text-end fw-bold">Amount</div>
            </div>
            {% for item in SalesItem %}
            <div class="d-flex w-100 align-items-start py-1">
                <div class="col-2 text-start">{{ item.qty|intcomma|floatformat:0 }}</div>
                <div class="col-6 text-start">
                    <div class="lh-1">
                        <small>{{ item.product.name }}</small><br>
                        <small class="text-muted">@ {{ item.price|intcomma }}</small>
                    </div>
                </div>
                <div class="col-4 text-end">{{ item.total|intcomma }}</div>
            </div>
            {% endfor %}
            <hr class="my-1">
            <div class="d-flex w-100">
                <div class="col-6 text-start fw-bold">Total</div>
                <div class="col-6 text-end fw-bold">{{ transaction.grand_total|intcomma }}</div>
            </div>
            <div class="d-flex w-100">
                <div class="col-6 text-start"><small>Tax ({{ transaction.tax|intcomma }}%):</small></div>
                <div class="col-6 text-end"><small>{{ transaction.tax_amount|intcomma|floatformat:2 }}</small></div>
            </div>
            <div class="d-flex w-100 pt-1">
                <div class="col-6 text-start">Tendered</div>
                <div class="col-6 text-end">{{ transaction.tendered_amount|intcomma }}</div>
            </div>
            <!--div class="d-flex w-100 border-top mt-1">
                <div class="col-6 text-start fw-bold">Change</div>
                <div class="col-6 text-end fw-bold">{{ transaction.amount_change|intcomma }}</div>
            </div>-->
        </div>
        <div class="py-3 text-center">
            <small>Asante, Karibu Tena!</small>
        </div>
    </div>
    
    <hr>
    <div class="d-flex w-100 justify-content-end">
        <button class="btn btn-primary bg-gradient border rounded-0 btn-sm me-1" type="button" id="receipt_print">
            <i class="mdi mdi-printer"></i> Print
        </button>
        <button class="btn btn-secondary bg-gradient border rounded-0 btn-sm" type="button" data-bs-dismiss="modal">
            <i class="mdi mdi-close"></i> Close
        </button>
    </div>
</div>

<script>
    $(function() {
        $('#receipt_print').click(function() {
            var head = $('head').clone();
            var p = $('#outprint').clone();
            var el = $("<div>");
            
            // This specific CSS makes it fit receipt paper better
            head.append('<style>body{background-color:white !important; width:100%; margin:0; padding:10px;} @page { margin: 0; }</style>');
            
            el.append(head);
            el.find('title').text("Receipt - {{ transaction.code }}");
            el.append(p);
            
            start_loader();
            var nw = window.open('', '_blank', "width=400,height=600,left=300,top=100");
            nw.document.write(el.html());
            nw.document.close();
            
            setTimeout(() => {
                nw.print();
                setTimeout(() => {
                    nw.close();
                    end_loader();
                }, 250);
            }, 500);
        })
    })
</script>